body{
    background-color: #825FE5;
}

.column{
    background-color: #EEAF0D;
    color: white;
    text-align: center;
}

.para{

    
    background-color: #825FE5;
    color: white;
    text-size-adjust: 20%;
    padding-top: 1%;
    padding-left: 5%;

}